{% extends 'main_admin.html' %}

{% block content %}

<div class="my-school-container">
    <h1>Персонал школи</h1>
    <a href="{% url 'notregistered' %}"><p>Незареєстровані користувачі</p></a>
    <a href="{% url 'register_personnel' %}">Додати</a>
    <hr>

    <div class="teachers-list">
        {% for user in users %}
            <div class="teacher-name">
                {{ user.full_name }}
                <p>{{ user.role }}</p>
                <a href="{% url 'profile' user.user_id %}"> Дивитись профіль </a>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>

{% endblock content %}
