{% extends 'main.html' %}

{% block content %}
<div>
    <h1>Вхід в адміністративну панель</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{% url 'admin_control_page' %}">
        {% csrf_token %}
        <label for="school_id">Код школи:</label>
        <input type="text" name="school_id" required>
        
        <label for="password">Пароль адміністратора:</label>
        <input type="password" name="password" required>
        
        <input type="submit" value="Увійти">
    </form>
</div>
{% endblock content %}
